$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body{
  text-align: center;
  margin:0;
}

h1{
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

h2{
  font-family: "Times New Roman", Times, serif;
  color: #F15B31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

h3{
  font-family: "Times New Roman", Times, serif;
}

h4{
  font-family: "Times New Roman", Times, serif;
  text-align:center;
}

p{
  font-family: "Droid Serif";
  line-height: 26px;
  font-size: 18px;
}

header{
  background-color: black;
  padding: 30px 20px;
}

nav{
  background-color: #00A6B3;
  padding: 20px 0;
}

main{
  width: 850px;
  margin:35px auto;
}

img{
  margin:40px 8px;
}

footer{
  text-transform: uppercase;
  padding:0px 20px;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
  visibility: collapse;
}

.gameDisplay{
  visibility: hidden;
}

.login-info{
  visibility: visible;
}

.credits{
  text-align:left;
}

.cell{
  height: 150px;
  width: 150px;
  font-size: 100px;
}

.square{
    width:100px;
    height:100px;
    box-sizing: border-box;
    padding: 0px;
}

.v{
    border-left:2px solid #000;
    border-right:2px solid #000;
}

.h{
    border-top:2px solid #000;
    border-bottom:2px solid #000;
}

.indexDisplay{
visibility: hidden;
}
